 /* Always set the map height explicitly to define the size of the div

      #map {
        /* height: 100%; */
    

      #map {
        height: 100%;
      }

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .add-city-button {
        display: flex;
      }

  
@import 'foundation'; 
@include foundation-xy-grid-classes {
  
  $base-grid: true,
  $margin-grid: true,
  $padding-grid: true,
  $block-grid: true,
  $collapse: true,
  $offset: true,
  $vertical-grid: true,
  $frame-grid: true
  
      };

