 /* Always set the map height explicitly to define the size of the div

      #map {
        /* height: 100%; */
    

      #map {
        height: 100%;
      }

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .add-city-button {
        display: flex;
      }

      #icon1 {
        animation-name: initial;
        animation-iteration-count: infinite;
        animation-duration: 10s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
      }

      iframe {
        border: 1px solid black;
        width: 600%;
        height: 300%;
    }
    
    .output {
        background: #eee;
    }

    .w3-cell-row {

      height: 50px;
    }

    .hourlyForecast {
      display: block;
  }

  @media only screen and (max-width: 768px) {
    body {
      background-color: lightblue;
    }
  }
  
@import 'foundation'; 
@include foundation-xy-grid-classes {
  
  $base-grid: true,
  $margin-grid: true,
  $padding-grid: true,
  $block-grid: true,
  $collapse: true,
  $offset: true,
  $vertical-grid: true,
  $frame-grid: true
  
      };

      #container {
        animation: responsive 15s infinite;
        animation-timing-function: ease-in-out;
      }
      
      @keyframes responsive {
        0%, 100% {
          width: 100%;
        }
        50% {
          width: 110px;
        }
      }











      

